@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../fonts/Gilroy-Semibold.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Thin";
  src: url("../fonts/Gilroy-Thin.otf") format("opentype");
}

*{
  transition: all 0.3s ease;
}


a:hover {
  color: #9694E7;
}